<p>
  This wasn't a personal project, but more of a thing a couple of YouTube colleagues and I built outside of work.
</p>
<p>
  An easter egg we wrote and put on the YouTube video page when Gangnam Style reached 2 billion views.<br>
  Ziling Zhao and I worked on integrating the code into the page, did the canvas and custom JS, and added character
  animations provided by Taeho Ko.<br>
</p>

<figure class="content-youtube fourbythree">
  <iframe src="https://www.youtube.com/embed/nAL94xUGqYQ" frameborder="0" allowfullscreen></iframe>
  <figcaption>Loved working on this!</figcaption>
</figure>

<figure class="content-twitter">
  <blockquote class="twitter-tweet"><p lang="ko" dir="ltr">Thx <a href="https://twitter.com/YouTube?ref_src=twsrc%5Etfw">@YouTube</a> for giving me this by my counter!! This means 2billion in Korean. :-) 유튜브 조회수 옆 저를 클릭해보세요 ^__^ <a href="http://t.co/HljSEEFBPW">pic.twitter.com/HljSEEFBPW</a></p>&mdash; PSY (@psy_oppa) <a href="https://twitter.com/psy_oppa/status/472594138190196737?ref_src=twsrc%5Etfw">May 31, 2014</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <figcaption>Psy's post about the easter egg</figcaption>
</figure>
