<figure class="content-youtube">
  <iframe src="https://www.youtube.com/embed/yqamCKcwOvk" frameborder="0" allowfullscreen></iframe>
  <figcaption>
    A quick little animation I threw together out of a Google Form results list (Google Sheets) and React.
  </figcaption>
</figure>

<p>
  This was for an online video contest where people were asked to vote for 1 of 4 videos.<br>
  Dead simple but effective. It tells the story of how the voting went over time. It would have been nice to couple that with information about the contestants' activity on social media to correlate the voting.<br>
  The live version is <a href="https://www.mountainboardworld.org/news/7-the-4-down-project-results">visible here</a>.
</p>
