<article class="case-study reversed">
  <div class="thumb">
    <img src="/images/case-studies/arts-and-culture.jpg" alt="A screenshot of the Google Arts & Culture website" />
  </div>
  <div class="content">
    <div class="details">
      <h2 class="low-header title">
        <span>Google Arts & Culture</span>
        <p class="case-study-meta">2017</p>
        <p class="case-study-meta">
          <a href="https://artsandculture.google.com">[Link]</a>
        </p>
      </h2>

      <details>
        <summary>The user favorites page - built in Java / Google Closure</summary>


      </details>
    </div>
  </div>
</article>



