<article class="case-study">
  <div class="thumb">
    <img src="/images/case-studies/draw-me-a-kicker.jpg" alt="A screenshot of the Draw Me a Kicker website" />
  </div>
  <div class="content">
    <div class="details">
      <h2 class="low-header title">
        <span>Draw Me a Kicker</span>
        <p class="case-study-meta">2015</p>
        <p class="case-study-meta">
          <a href="https://www.drawmeakicker.com?id=1">[Link]</a>
        </p>
      </h2>

      <details>
        <summary>A 3D editor built in Polymer / three.js</summary>
        <p>
          A tool I built to help people design their own ramps.
        </p>

        <figure class="youtube">
          <iframe src="https://www.youtube.com/embed/mbBs5oQdYyQ" frameborder="0" allowfullscreen></iframe>
          <figcaption>VR works, if you have a Cardboard viewer</figcaption>
        </figure>

        <section class="bits-samples">
          <div class="bits">
            <h3 class="low-header">Interesting bits</h3>
            <ul>
              <li>Web Components via Polymer (v1.0 was just released)</li>
              <li>Dynamic 3D shape generation</li>
              <li>
                Served as my project for
                <a href="https://trydesignlab.com/certificates/design-101/mika">a design course</a>
              </li>
            </ul>
          </div>
          <div>
            <h3 class="low-header">Code samples</h3>
              React:
              <a href="https://github.com/surfingdirt/web/blob/master/src/components/Comment/List/index.jsx">
                comment list
              </a>
              (<a href="https://github.com/mikaelgramont/drawmeakicker">[Github repo]</a>)
          </div>
        </section>

      </details>
    </div>
  </div>
</article>



