<article class="case-study reversed">
  <div class="thumb">
    <img src="/images/case-studies/gangnam-style.jpg" alt="A screenshot of the animation on the YouTube Watch page" />
  </div>
  <div class="content">
    <div class="details">
      <h2 class="low-header title">
        <span>YouTube - Gangnam Style easter egg</span>
        <p class="case-study-meta">2014</p>
        <p class="case-study-meta">
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">[Link]</a>
        </p>
      </h2>

      <details>
        <summary>A celebration of Gangnam Style's 2 billion views - canvas</summary>
        <p>
          The page for users to list their favorite paintings, and to create personal galleries.
        </p>

        <figure class="youtube">
          <iframe src="https://www.youtube.com/embed/nAL94xUGqYQ" frameborder="0" allowfullscreen></iframe>
          <figcaption>That was exciting!</figcaption>
        </figure>

        <section class="bits-samples">
          <div class="bits">
            <h3 class="low-header">Interesting bits</h3>
            <ul>
              <li>high-risk, low-reward project</li>
              <li>collaboration with another developer and a designer</li>
              <li>down-sampling of rendered text to generate sprite positions</li>
            </ul>
          </div>
          <div>
            <h3 class="low-header">Code samples</h3>
            <p>That code is long gone - and not mine 😢</p>
          </div>
        </section>
      </details>
    </div>
  </div>
</article>



