<article class="case-study">
  <div class="thumb">
    <img src="/images/case-studies/surfing-dirt.jpg" alt="A screenshot of the Surfing Dirt website" />
  </div>
  <div class="content">
    <div class="details">
      <h2 class="low-header title">
        <span>Surfing Dirt</span>
        <p class="case-study-meta">2019/2020</p>
        <p class="case-study-meta">
          <a href="https://www.surfingdirt.com">[Link]</a>
        </p>
      </h2>

      <details>
        <summary>A social network built in React / GraphQL / Node / PHP</summary>
        <p>
          I wrote a <a href="/Releasing-surfing-dirt/">detailed blog post on the project</a>.
        </p>

        <section class="bits-samples">
          <div class="bits">
            <h3 class="low-header">Interesting bits</h3>
            <ul>
              <li>the translation process</li>
              <li>tracing</li>
              <li>no-JS</li>
            </ul>
          </div>
          <div>
            <h3 class="low-header">Code samples</h3>
            <ul>
              <li>
                React:
                <a href="https://github.com/surfingdirt/web/blob/master/src/components/Comment/List/index.jsx">
                  comment list
                </a>
                (<a href="https://github.com/surfingdirt/web">[Github repo]</a>)
              </li>
              <li>
                GraphQL:
                <a href="https://github.com/surfingdirt/graphql/blob/master/src/modules/translation/translation.resolvers.js">
                  translation resolver
                </a>
                (<a href="https://github.com/surfingdirt/graphql">[Github repo]</a>)
              </li>
              <li>
                REST API:
                <a href="https://github.com/surfingdirt/rest-api/blob/master/library/Lib/JWT.php">
                  JWT model
                </a>
                (<a href="https://github.com/surfingdirt/rest-api">[Github repo]</a>)
              </li>
            </ul>
          </div>
        </section>
      </details>
    </div>
  </div>
</article>



