<article class="case-study">
  <div class="thumb">
    <img src="/images/case-studies/surfing-dirt.jpg" alt="A screenshot of the Surfing Dirt website" />
  </div>
  <div class="content">
    <div class="details">
      <h2 class="low-header title">
        <span>Surfing Dirt</span>
        <p class="case-study-meta">2019/2020</p>
        <p class="case-study-meta">
          <a href="https://www.surfingdirt.com">[Link]</a>
        </p>
      </h2>

      <details>
      <summary>A social network built in React / GraphQL / Node / PHP</summary>

      <figure class="youtube">
        <iframe src="https://www.youtube.com/embed/kEgLZUOvLxc" frameborder="0" allowfullscreen></iframe>
        <figcaption>A quick preview of the site on mobile</figcaption>
      </figure>

      The live site is at <a href="https://www.surfingdirt.com">https://www.surfingdirt.com/</a>.
    </details>
  </div>
  </div>
</article>



