
//
// VARIABLES
//


// Color definitions
$black: #000;
$blue: #538FCA;
$darkerGray: #222;
$darkGray: #333;
$gray: #888;
$mediumGray: #aaa;
$lightGray: #eee;
$white: #fff;


// CSS variables
:root {
  --font-color: #d2d2d2;
  --header-color: #d2d2d2;
  --bg-color: #222;
  --action-color: #538FCA;
  --highlight-bg-color: #444;
  --code-bg-color: #444;
}

@media(prefers-color-scheme: light) {
  :root {
    --font-color: #222;
    --header-color: #222;
    --bg-color: #fff;
    --action-color: #538FCA;
    --highlight-bg-color: #efefef;
    --code-bg-color: #efefef;
  }
}

$containerPadding: 10px;

// Font stacks
$titleFontFamily: Bitter, "Helvetica Neue", Helvetica, Arial, sans-serif;
$bodyFontFamily: Muli, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}