<section class="wrapping-container curious-values">
  <div class="values-container">
    <h3 id="values" class="low-header">Personal values</h3>
    <ul>
      <li><span class="value">pragmatism</span>, not dogma</li>
      <li><span class="value">communication</span>, not rot</li>
      <li><span class="value">bottom-up</span>, not top-down</li>
      <li><span class="value">collective progress</span>, not fingerpointing</li>
    </ul>
  </div>
  <div class="curious">
    <h3 class="low-header">Want to invest in</h3>
    <ul>
      <li>WebGL/WebXR</li>
      <li>trimming fat from the Front-end!</li>
      <li>the distributed Web</li>
      <li>data visualisation</li>
    </ul>
  </div>
</section>