<section class="wrapping-container toolbox-invest">
  <div class="toolbox-container">
    <h3 id="values" class="low-header">Current go-to toolbox</h3>
    <p>Languages & tools come and go, but listing them helps form a mental picture of a candidate.</p>
    <ul class="toolbox">
      <li>
        {% include logos/js.svg %}
      </li>
      <li>
        {% include logos/node.svg %}
      </li>
      <li>
        {% include logos/react.svg %}
      </li>
      <li>
        {% include logos/graphql.svg %}
      </li>
      <li>
        {% include logos/mysql.svg %}
      </li>
      <li>
        {% include logos/php.svg %}
      </li>
    </ul>
    <p>I've also picked up and done some work in C, Java, Python and Ruby, PostgreSQL and others.</p>
  </div>
  <div class="invest">
    <h3 class="low-header">Want to invest in</h3>
    <ul class="invest-list">
      <li>WebGL/WebXR</li>
      <li>trimming fat from the Front-end!</li>
      <li>the distributed Web</li>
      <li>data visualisation</li>
    </ul>
  </div>
</section>