<div class="wrapping-container values-aspirations">
  <div class="values-container values-aspirations-container">
    <h3 id="values" class="low-header">Values</h3>
    <ul>
      <li><span class="value">pragmatism</span>, not dogma</li>
      <li><span class="value">communication</span>, not rot</li>
      <li><span class="value">bottom-up</span>, not top-down</li>
      <li><span class="value">collective progress</span>, not fingerpointing</li>
    </ul>
  </div>

  <div class="aspirations-container values-aspirations-container">
    <h3 id="aspirations" class="low-header">Aspirations</h3>
    <ul>
      <li>To serve a <span class="value">purpose</span></li>
      <li>To continue to <span class="value">learn</span></li>
      <li>To <span class="value">share</span> and <span class="value">help</span></li>
    </ul>
  </div>
</div>